@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFFF;
    --foreground: black;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

#start-slideshow {
  color: #7D7D7D;
}
#start-slideshow:hover {
  color: black;
}
#description {
  color: #7D7D7D;
  font-size: 15px;
  line-height: 28px;
  font-weight: 700;
}
#artist-name {
  color: #7D7D7D;
  font-size: 15px;
}
#source-anchor {
  font-size: 9px;
  line-height: auto;
  letter-spacing: 1.93px;
  color:#7D7D7D;
}
#source-anchor:hover{
  color: black;
}
.modal {
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modalContainer {
  margin: 4rem;
  width: 30%;
}
.closeContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.close {
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  text-align: end;
  padding-bottom: 1rem;
  background: none;
  border: none;
}
.close:hover {
  color: #7d7d7d;
}
/*  DESKTOP DESIGN  */

@media (min-width: 1025px){
  #start-slideshow{
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    letter-spacing: 2.5px;
    color: #7D7D7D;
  }
  #art {
    width:fit-content;
  }
  #portrait {
    width: auto;
    height: fit-content ;
  }
  #artist-info {
    margin-left: 400px;
    margin-top: 20px;
    width: 450px;
    height: auto;
  }
  .data-name{
    font-size: 56px;
    line-height: 58px;
  }
  #text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-right: 5px;
  }
  #picture-year {
    font-size: 200px;
    color: #F3F3F3;
  }
  #source-anchor {
    margin-right: 320px;
  }
  #view-image {
    width: 152px;
    height: 40px;
  }
}

/*  MOBILE DESIGN  */

@media (max-width: 750px){
  #start-slideshow{
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    letter-spacing: 2.5px;
    color: #7D7D7D;
    margin-top: 16px;
    margin-left: 16px;
  }
  #navbar {
    width:max-content;
  }
  #art {
    width:fit-content;
    justify-self: center;
  }
  
}
